AlignAfterOpenBracket: Align
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
MaxEmptyLinesToKeep: 3
BreakBeforeBraces: Attach
IndentCaseLabels: false
AlignTrailingComments: true
AlignEscapedNewlines: Left
AllowShortEnumsOnASingleLine: false
IndentPPDirectives: AfterHash
#AllowAllArgumentsOnNextLine: true
#AllowAllConstructorInitializersOnNextLine: true
#BinPackArguments: true
AllowAllArgumentsOnNextLine: false

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
#AlignConsecutiveAssignments: AcrossComments
#AllowShortIfStatementsOnASingleLine: false 
#AllowShortCaseLabelsOnASingleLine: true