#------------------- common excludes --------------------
.conandeps/
__pycache__/
.vscode/
.vs/
.idea/
build/
x86/
x64/
*build*/
debug/
release/
Temp/
Testing/


*.vcxproj
*.vcxproj.*
*.sln

*.psro.user
*.prso.user.*

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc

msvc_make.*

.qmake.stash

ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
/msvc_make.bat


*.exe
*.exp
*.pdb
*.ilk
*.lib
*.dll

*.dat
*.html


#------------------- specific excludes --------------------
external_binaries
external_binaries/
external_binaries/**

external_projects
external_projects/
external_projects/**

express_ex/test/**/*.dat
old/
/external_projects/antlr_4/
