*
!.gitignore
!*.drawio

!/EGrammar
!/EGrammar/*

!/express_ex
/express_ex/*


!/express_ex/io_ex/
!/express_ex/io_ex/**
!/express_ex/app/
!/express_ex/app/**
!/express_ex/cmake_.bat
!/express_ex/remove.bat


!/syntaxhighlighter
/syntaxhighlighter/*


!/topsyntaxhighlighter/
/topsyntaxhighlighter/*




#------------------- common excludes --------------------
!/**/include/
!/**/include/**
!/**/sources/
!/**/sources/**
!/**/icons/
!/**/icons/**

!/**/*CMakeLists.txt
!/**/*.CMakeMacro.txt
!/**/*.pri
!/**/*.pro
!/**/*.qrc



*.exe
*.exp
*.pdb
*.ilk
*.lib
*.dll

*.dat
*.html


!setup.bat
!llvm.7z
!antlr4.7z